* {
active-background: #121D21;
active-foreground: #E5ECF0;
normal-background: #040607;
normal-foreground: #E5ECF0;
urgent-background: #335367;
urgent-foreground: #E5ECF0;

alternate-active-background: #3B7098;
alternate-active-foreground: #E5ECF0;
alternate-normal-background: #040607;
alternate-normal-foreground: #E5ECF0;
alternate-urgent-background: #040607;
alternate-urgent-foreground: #E5ECF0;

selected-active-background: #121D21;
selected-active-foreground: #E5ECF0;
selected-normal-background: #D2DBE2;
selected-normal-foreground: #E5ECF0;
selected-urgent-background: #335367;
selected-urgent-foreground: #E5ECF0;

background-color: #040607;
background: rgba(0,0,0,0.7);
foreground: #D2DBE2;
border-color: #121D21;
}

